<table style="width: 100%;">
    <thead>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>username</th>
        <th>DOB</th>
        <th>123</th>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <td>Priya</td>
            <td>Sharma</td>
            <td>24</td>
            <td>Priya</td>
            <td>Sharma</td>
            <td>24</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Priya</td>
            <td>Sharma</td>
            <td>24</td>
            <td>Priya</td>
            <td>Sharma</td>
            <td>24</td>
        </tr>
    </tfoot>
</table>